<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../neon-animation/neon-animations.html">
<link rel="import" href="../gold-email-input/gold-email-input.html">
<link rel="import" href="plutonium-shared-styles.html">

<dom-module id="plutonium-forgottenpassword-widget">
    <template>
        <style include="plutonium-shared-styles">
            :host {
                display: block;
            }
        </style>
        <paper-dialog id="dialog"  class="plutonium widget"
                      modal entry-animation="scale-up-animation" exit-animation="scale-down-animation"
                      with-backdrop>
            <paper-toolbar>
                <h2 id="forgottenPasswordTitle">Password reset</h2>
            </paper-toolbar>
            <form id="form" is="iron-form" verbose content-type="application/json" handle-as="json" method="post" action="[[forgottenPasswordUrl]]">
                <div class="layout vertical">
                    <gold-email-input id="forgottenPasswordEmailLabel" label="Email address" name="email" type="email">
                        <iron-icon icon="account-circle" prefix></iron-icon>
                    </gold-email-input>
                    <div class="layout horizontal">
                        <paper-button id="passwordResetLoginButton" raised on-tap="onNavigateToLogin" dialog-dismiss>Sign-in</paper-button>
                        <div class="flex"></div>
                        <paper-button id="passwordResetRegistrateButton" raised  on-tap="onNavigateToRegistration" dialog-dismiss>Sign-on</paper-button>
                    </div>
                </div>
                <paper-fab 
                    id="passwordResetButton" 
                    icon="arrow-forward" 
                    title="Reset password" 
                    on-tap="onForgottenPassword" 
                    dialog-confirm></paper-fab>

            </form>
        </paper-dialog>
    </template>

    <script>
        'use strict';
        
        Polymer({
            is: 'plutonium-forgottenpassword-widget',
            properties: {
                forgottenPasswordUrl: {
                    type: String,
                    notify: true
                },
                userName: {
                    type: String,
                    notify: true
                },
                rememberMe: {
                    type: Boolean,
                    notify: true
                }
            },
            listeners: {
                'form.iron-form-response': 'onForgottenPasswordResponse',
                'form.iron-form-error': 'onForgottenPasswordError',
//                'login': 'onOpen'
            },
            guid: function () {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                            .toString(16)
                            .substring(1);
                }
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                        s4() + '-' + s4() + s4() + s4();
            },
            open: function () {
                console.log(this.is + ' is opening.');
                this.$.dialog.open();
            },
            onOpen: function () {
                this.open();
            },
            onNavigateToForgottenPassword: function (event) {
                console.log(this.is + ' navigate to forgotten password.');
                this.fire('passwordreset', {
                    userName: this.userName
                });
            },
            onNavigateToLogin: function () {
                console.log(this.is + ' navigate to login.');
                this.fire('login', {});
            },
            onNavigateToRegistration: function (event) {
                console.log(this.is + ' navigate to registration.');
                this.fire('registrate', {
                    token: this.guid()
                });
            },
            onForgottenPassword: function (event) {
                console.log(this.is + ' send forgotten password request ...');
                this.$.form.submit();
            },
            onForgottenPasswordResponse: function () {
                this.fire('login', {});
            },
            onForgottenPasswordError: function () {
                console.log(this.is + ' navigate to forgotten password.');
                this.fire('forgottenpassword', {});
            }
        });
    </script>
</dom-module>
